<!DOCTYPE html>
<html>
  <head>
    <title>EShopper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=true' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnmNb598lsSwapxMtQt8muORSNsZ-gORA&callback=initMap"
    type="text/javascript"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
    <%= javascript_include_tag 'main.js' %>
  </body>
</html>
